.mytickets {
    justify-content: flex-start;
    flex-direction: column;
}

.filters {
    margin-bottom: 50px;
}

#delete {
    margin-left: 10px;
    background-color: #39bbac;
    border: none;
    color: white;
}

button {
    background-color: white;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
}