.showcard {
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
	padding: 1rem;
}

.showcard .location {
	display: flex;
	gap: 0.6rem;
}

.showcard .location svg {
	width: 16px;
	fill: var(--main-color);
}