.sidebar {
	height: 100vh;
	width: max-content;
	padding: 1.5rem;
	background-color:#2d3f69;
	font-size: 1.3rem;
}

.sidebar ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 2rem;
}

.sidebar li {
	cursor: pointer;
}